* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
}

header {
    background-color: #1f1f1f;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #76c7c0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('https://i.pinimg.com/originals/4c/44/39/4c443992f6106654fc270b3ca708d29e.png') no-repeat center center/cover;
    color: #ffffff;
    height: 60vh;
    display: flex;
  
    text-align: left;
    padding: 0 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    margin-top:100px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about {
    background-color: #1f1f1f;
    padding: 50px 20px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.skills {
    background-color: #333333;
    padding: 50px 20px;
    text-align: center;
}

.skills h2 {
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill {
    max-width: 200px;
    margin: 10px;
    text-align: center;
}

.skill i {
    font-size: 2.5rem;
    color: #76c7c0;
    margin-bottom: 10px;
}

.projects {
    background-color: #1f1f1f;
    padding: 50px 20px;
    text-align: center;
}

.projects h2 {
    margin-bottom: 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    background-color: #333333;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact {
    background-color: #333333;
    padding: 50px 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info a {
    color: #76c7c0;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #76c7c0;
    font-size: 1.5rem;
}

footer {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
